*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-color: #213555;
}

main{
  background-color: #F5F5F5;
  height: 80vh;
  max-width: auto;
  border-radius: 10px;
  margin: 5rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc{
  width: 40%;
  margin-bottom: 3rem;
}

.base-setup{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 5rem;
}

.die{
  height: 4rem;
  width: 4rem;
  box-shadow: 5px 5px 10px #516688;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.result{
  margin-top: 3rem;
  color: #213555;
}

.roll-btn{
  margin-top: 3rem;
  padding: 1rem;
  width: 10rem;
  font-size: 150%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #213555;
  color: #fff;
}